/* Fontes e cores */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6c98e9, #ffffff);
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header h1 {
    margin: 0;
    font-size: 2.5em;
}

#header p {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2em;
    cursor: pointer;
}

#header p:hover {
    text-decoration: underline;
}

#nav-links {
    display: flex;
    flex-direction: center; 
    gap: 10px; 
    margin-top: 10px;
    align-items: center; 
    padding: 10px; 
    justify-content: center;
}

#nav-links .button {
    background-color: hsl(186, 64%, 46%);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

}

#nav-links .button:hover {
    text-decoration: underline;
}

#info { 
    border: 1px solid red;
    margin: 10px;
    padding: 15px;
}

a {
    text-decoration: none;
}
ion-icon {
    font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
    vertical-align: middle; /* Ajusta o alinhamento vertical */
}
a + a {
    margin-left: 10px; /* Adiciona espaço entre os ícones */
}