/* Fontes e cores */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6c98e9, #ffffff);
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#header h1 {
    margin: 0;
    font-size: 2.5em;
}

#header p {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.2em;
    cursor: pointer;
}

#header p:hover {
    text-decoration: underline;
}

/* Botões de filtro */
#buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

#buttons input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Grade de heróis */
#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    gap: 20px;
    padding: 20px;
}

.hero-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero_name {
    font-size: 1.5em;
    margin: 10px 0;
}

.hero-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
}

#nav-links {
    display: flex;
    flex-direction: center; 
    gap: 10px; 
    margin-top: 10px;
    align-items: center; 
    padding: 10px; 
    justify-content: center;
}

#nav-links .button {
    background-color: hsl(186, 64%, 46%);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

}

#nav-links .button:hover {
    text-decoration: underline;
}