.game-image {
    border: 1px solid black;
    width: 256px;
    height: 256px;
}

.game-image:hover {
    transform: scale(3);
}

body {
    background: linear-gradient(to right, rgb(108, 152, 233), white);
}

#grid-container {
    display: grid;
    justify-content: center;
    column-gap: 50px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

.hero-item {
    padding: 10px;
    margin: 0px;
}

#buttons {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;

}

#buttons input {
    width: 200px;
    
}

.button {
    margin: 15px
}
